<div class="header clearfix fw-absolute fw-height-50 fw-width-1-1 ">
    <div id="toggleMenu" class="toggle_menu fw-flex fw-flex-middle">
        <div id="burger-container" class="fw-margin-auto fw-absolute">
            <div id="burger">
                <span> &nbsp;</span>
                <span> &nbsp;</span>
                <span> &nbsp;</span>
            </div>
        </div>
    </div>
</div>
<div class="vertical_nav">
    <div class="fw-text-center">
        <i class="icon icon-logo"></i>
    </div>
    <ul id="js-menu" class="menu">
        <li class="menu--item">
            <a href="/" class="menu--link">
                <span class="menu--label fw-text-underline fw-color-dark">Главная</span>
            </a>
        </li>

        <li class="menu--item">
            <a href="/service.html" class="menu--link">
                <span class="menu--label fw-text-underline ">Услуги</span>
            </a>
        </li>

        <li class="menu--item">
            <a href="/project.html" class="menu--link">
                <span class="menu--label fw-text-underline ">Проекты</span>
            </a>
        </li>

        <li class="menu--item">
            <a href="/" class="menu--link">
                <span class="menu--label fw-text-underline ">О нас</span>
            </a>
        </li>

        <li class="menu--item">
            <a href="/contacts.html" class="menu--link">
                <span class="menu--label fw-text-underline ">Контакты</span>
            </a>
        </li>
    </ul>

    <div class="fw-absolute fw-bottom-0 fw-padding-30">
        <div class="fw-mb-40">
            <a href="#" class="button-orange fw-fz-14 fw-border-radius-3 fw-color-white fw-pt-8 fw-pb-8 fw-pl-27 fw-pr-27">Заказать звонок</a>
        </div>
        <div class="fw-line-height-1-35 fw-mb-20">
            <div class="fw-fz-14">
                +7 (777) 721 55 44
            </div>
            <div class="fw-fz-14">
                <a class="fw-color-blue" href="mailto:info@cifromaster.com">info@cifromaster.com</a>
            </div>
            <div class="fw-fz-14">
                Алматы, пр. Достык 91/2
            </div>
        </div>
        <div class="fw-flex fw-mb-35">
            <div>
                <i class="icon icon-vk"></i>
            </div>
            <div class="fw-ml-15">
                <i class="icon icon-instagram"></i>
            </div>
            <div class="fw-ml-15">
                <i class="icon icon-fb"></i>
            </div>
        </div>
    </div>
</div>