<div class="js-popup popup-wrapper nav-menu fw-flex-column fw-flex" data-popup="choose">
  <div class="container-popup fw-mt-25">
    <div class="fw-mt-30-percent fw-width-300 fw-relative fw-bg-color-blue fw-text-center fw-pt-45 fw-pb-50 fw-pl-45 fw-pr-45">
      <div class="fw-margin-auto fw-absolute fw-right-0 fw-top-inverse-34 fw-popup-close fw-color-white fw-fz-16 fw-font-normal fw-pl-10 fw-pr-10 fw-pt-5 fw-pb-5 js-close-popup">Закрыть</div>
      <div class="fw-">
        <input class="input-white fw-width-1-1 fw-fz-18 fw-font-myriad" placeholder="Ваше имя"/>
      </div>
      <div class="fw-mt-15">
        <input class="input-white fw-width-1-1 fw-fz-18 fw-font-myriad" placeholder="Ваш телефон"/>
      </div>
      <div class="toggle">
        <div class="fw-mt-15 fw-mb-inverse-1">
          <div class="toggle__trigger fw-cursor-pointer fw-relative input-white fw-fz-18 fw-font-myriad down-arrow">Выбрать услугу</div>
        </div>
        <div class="toggle__content fw-hidden fw-ml-inverse-45 fw-mr-inverse-45">
          <div class="fw-bg-color-white fw-pb-25">
            <ul class="fw-reset fw-text-left fw-pl-45 fw-pr-5 fw-pt-30">
              <li class="fw-mb-15">
                <label class="fw-flex fw-flex-middle checkbox fw-checkbox fw-inline-block fw-mr-10">
                  <input type="checkbox" class="fw-hidden">
                  <span class="fw-mr-5">
                    <i class="icon icon-uncheck checkbox__trigger"></i>
                  </span>
                  <span class="fw-width-200 fw-fz-15 fw-ml-10 fw-line-height-1-35">Маркетинговое сопровождение компаний</span>
                </label>
              </li>
              <li class="fw-mb-15">
                <label class="fw-flex fw-flex-middle checkbox fw-checkbox fw-inline-block fw-mr-10">
                  <input type="checkbox" class="fw-hidden">
                  <span class="fw-mr-5">
                    <i class="icon icon-uncheck checkbox__trigger"></i>
                  </span>
                  <span class="fw-width-200 fw-fz-15 fw-ml-10 fw-line-height-1-35">Smm – сопровождение</span>
                </label>
              </li>
              <li class="fw-mb-15">
                <label class="fw-flex fw-flex-middle checkbox fw-checkbox fw-inline-block fw-mr-10">
                  <input type="checkbox" class="fw-hidden">
                  <span class="fw-mr-5">
                    <i class="icon icon-uncheck checkbox__trigger"></i>
                  </span>
                  <span class="fw-width-200 fw-fz-15 fw-ml-10 fw-line-height-1-35">Контекстная реклама</span>
                </label>
              </li>
              <li class="fw-mb-15">
                <label class="fw-flex fw-flex-middle checkbox fw-checkbox fw-inline-block fw-mr-10">
                  <input type="checkbox" class="fw-hidden">
                  <span class="fw-mr-5">
                    <i class="icon icon-uncheck checkbox__trigger"></i>
                  </span>
                  <span class="fw-width-200 fw-fz-15 fw-ml-10 fw-line-height-1-35">Сайты и мобильные приложения</span>
                </label>
              </li>
              <li class="fw-mb-10">
                <label class="fw-flex fw-flex-middle checkbox fw-checkbox fw-inline-block fw-mr-10">
                  <input type="checkbox" class="fw-hidden">
                  <span class="fw-mr-5">
                    <i class="icon icon-uncheck checkbox__trigger"></i>
                  </span>
                  <span class="fw-width-200 fw-fz-15 fw-ml-10 fw-line-height-1-35">Аудит компании</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="fw-mb-0 fw-mt-35">
        <a href="#" class="button-orange fw-border-radius-3 fw-fz-15 fw-pt-8 fw-pb-8 fw-pl-27 fw-pr-27">Отправить заявку</a>
      </div>
    </div>
  </div>
</div>
